@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-BookOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Roman.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Oblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-MediumOblique.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Heavy.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-HeavyOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-BlackOblique.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}





*{box-sizing: border-box; margin: 0;}
main{margin: 0 auto; max-width: 1100px; width: 100%; position: relative; top: 0;}


.topHeaderSection{box-shadow: 0 6px 12px rgba(0,0,0,.0625); position: fixed; top: 0; height: 6.5em; width: 100%; z-index: 20; background: rgba(255,255,255,0.95);}
.topHeader{max-width: 1100px; width: 100%; margin: 0 auto; height: 6.5em;}


@media screen and (max-width: 764px){
    .desktopVersion{display: none;}
}



@media screen and (min-width: 764px){
    .mobileVersion{display: none;}
    .topHeaderContent{display: grid; grid-gap: 2%; grid-template-columns: repeat(auto-fill, 10.75%);}
    .topHeaderContent div:nth-child(1){grid-column: 1/4;}
    .topHeaderContent nav:nth-child(2){grid-column: 4/7;}
    .topHeaderContent nav:nth-child(3){grid-column: 7/9;}
    .topHeaderContent nav.desktopVersion{display: grid; grid-gap: 1%; grid-template-columns: repeat(auto-fill, 24%);}

    .multiCarouselContent{position: relative; top: 6.5em;}
    .multiCarouselContent .multiCarousel{min-height: 150px; width: 100%; background: rgba(255,255,255,0.95); position: absolute; top: 0; z-index: 10;}

    .multiCarouselContent article{display: grid; grid-gap: 1%; grid-template-columns: repeat(auto-fill, 11.625%);}
    .multiCarouselContent article>div:nth-child(1){grid-column: 1/4; padding: 3em; padding-right: 7em; padding-top: 10em;}
    .multiCarouselContent article>div:nth-child(2){grid-column: 4/9;}
    .multiCarouselContent article>div:nth-child(2) div:nth-child(1){height: 20%;}

    .mainContent article{display: grid; grid-gap: 1%; grid-template-columns: repeat(auto-fill, 11.625%); margin: 4em 0;}
    .mainContent article:nth-child(odd)>div:nth-child(1){grid-column: 1/4;}
    .mainContent article:nth-child(odd)>div:nth-child(2){grid-column: 4/9; padding: 3em; padding-left: 5em;}
    .mainContent article:nth-child(even)>div:nth-child(1){grid-column: 1/6; padding: 3em; padding-right: 5em;}
    .mainContent article:nth-child(even)>div:nth-child(2){grid-column: 6/9;}
    .mainContent article:nth-child(1) {padding-top: 6.5em; margin: 4em 0;}
    .mainContent article>div>div.txtHeader{height: 20%;}

    .mailingServiceContent{margin: 10em 0;}
    .mailingServiceContent input{width: 45%; display: block; margin: 0 auto; outline: none; border: none; border-bottom: 1px solid #555555; font-size: 1.2em;}
    .mailingServiceContent h3{text-align: center;}

    footer{display: grid; grid-gap: 0.5%; grid-template-columns: repeat(auto-fill, 33%); margin-top: 2.5em;}
    footer .socialLink{text-align: center;}
    footer .socialLinkNav{display: grid; grid-gap: 0.5%; grid-template-columns: repeat(auto-fill, 33%);}
    footer .footerMenu h3{text-align: right;}
    footer .footerMenuNav a{display: block; text-align: right;}

    .copyrightContent{margin-top: 3.5em; margin-bottom: 1.5em;}


    /*PRODUCTS PAGE*/
    .productsViewContent article:first-child{display: grid; grid-gap: 1%; grid-template-columns: repeat(auto-fill,19.25%); margin-top: 10.5em;}
    .productsViewContent article:first-child>div:nth-child(1){grid-column: 1/4; cursor: url(../images/searchIcon.png), auto;}
    .productsViewContent article:first-child>div:nth-child(2){grid-column: 4/6;}
    .productsViewContent article:first-child>div:nth-child(2) h1{margin-bottom: 2em;}
    .productsViewContent article:first-child>div:nth-child(2) .productBuy{display: grid; grid-gap: 0.5%; grid-template-columns: repeat(auto-fill, 33%); margin-top: 2em;}
    .productsViewContent article:first-child>div:nth-child(2) .productBuy div:first-child{grid-column: 1/2;}
    .productsViewContent article:first-child>div:nth-child(2) .productBuy div:last-child{grid-column: 2/4; padding-left: 1em;}

    .productsViewContent article:nth-child(2){display: grid; grid-gap: 1%; grid-template-columns: repeat(auto-fill, 49.5%);}
    .productsViewContent article:nth-child(2)>div:nth-child(1){display: grid; grid-gap: 0.5%; grid-template-columns: repeat(auto-fill, 33%);}
    .productsViewContent article:nth-child(2)>div:nth-child(1) img{padding: 1em;}
    .productsViewContent article:nth-child(2)>div:nth-child(2){padding-top: 1em;}
    .productsViewContent article:nth-child(2)>div:nth-child(2) p{margin: 1em 0;}

    .productsViewContent article:nth-child(3){margin-top: 3em; display: flex; align-content: space-between; flex-wrap: wrap;}
    .productsViewContent article:nth-child(3) img{margin: 0; padding: 0;}
    .productsViewContent article:nth-child(3) div{width: 50%; height: auto; margin: 0; padding: 0;}
    .productsViewContent article:nth-child(3) div:nth-child(3){width: 100%; height: auto; margin: 0; padding: 0;}

    .productsViewContent article:nth-child(4) video{width: 100%; margin: 4em 0;}

    .productsViewContent article:nth-child(5) h2{margin: 4em 0;}

    .productsViewContent article:nth-child(6){margin-top: 2em; display: flex; align-content: space-between; flex-wrap: wrap;}
    .productsViewContent article:nth-child(6)>div{width: 50%;}
    .productsViewContent article:nth-child(6) p{margin: 1em 0;}
    .productsViewContent article:nth-child(6) h2{margin-top: 4em;}

    .multiCarouselContent2 h2{margin: 2em 0;}


    /*CATEGORIES PAGE*/
    .productsGellaryContent{padding-top: 8.5em;}
    .productsGellaryContent:after{content: ''; clear: both; display: block;}
    .productsGellaryContent a{padding: 1em; float: left;}
    .productsGellaryContent a:nth-child(10n+1){width: 27%; float: left;}
    .productsGellaryContent a:nth-child(10n+2){width: 30%; float: left;}
    .productsGellaryContent a:nth-child(10n+3){width: 43%; float: right;}
    .productsGellaryContent a:nth-child(10n+4){width: 57%; float: left;}
    .productsGellaryContent a:nth-child(10n+5){width: 43%; float: left;}
    .productsGellaryContent a:nth-child(10n+6){width: 27%; float: right;}
    .productsGellaryContent a:nth-child(10n+7){width: 30%; float: right;}
    .productsGellaryContent a:nth-child(10n+8){width: 43%; float: left;}
    .productsGellaryContent a:nth-child(10n+9){width: 57%; float: right;}
    .productsGellaryContent a:nth-child(10n+10){width: 43%; float: right;}
}
